.category-column {
    background-color: #78C1F3;
}

.container-fluid-class {
    margin-top: 55px;
    background: #FFDEDE;
}

.category-div {
    font-weight: 900;
    color: black
}

.category-start-row {
    margin-top: 20px;
}