.banner-img {
    margin-top: 60px;
}

.home-page h1 {
    color: gray;
    font-family: "Playfair Display", serif;
}

.home-page {
    display: flex;
    flex-wrap: wrap;
}

.home-page .card {
    background-color: rgba(128, 128, 128, 0.097);
    width: 18rem;
}

.home-page .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-page .card-price {
    color: green;
    font-weight: bold;
}

.home-page button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.home-page .card-text {
    color: rgb(90, 89, 89);
}

.home-page .card img:hover {
    transform: scale(0.9);
}

.home-page .card-img-top {
    height: 300px !important;
}

/* ==================
  filters
  ============== */
.filters h4 {
    margin-top: 100px;
    color: gray !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.ant-checkbox-wrapper:first-of-type {
    margin-left: 8px;
}

.ant-checkbox-wrapper {
    margin: 2px;
}

.ant-radio-wrapper {
    margin-bottom: 5px !important;
    margin-left: 10px;
}

.filters button {
    background-color: black;
    width: 100%;
    border: none;
    border-radius: 0;
    margin-top: 20px;
}

.loadmore {
    color: green;
    font-weight: bold;
    font-size: 20px !important;
}

.filter-heading {
    background: #525FE1;
    color: aliceblue
}

.sidebar {
    padding-right: 0;
}

/* styles.css */
/* Hover effect for card on mouse hover */
/* styles.css */
/* Hover effect for card on mouse hover */
.card:hover {
    transform: scale(1.03);
    /* Increase size by 3% */
    background-color: #f8f8f8;
    /* New background color on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    /* Shadow effect on hover */
    cursor: pointer;
    /* Show pointer cursor on hover */
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    /* Add transitions for smooth animation */
}

.button-class:active {
    background-color: #ff0000;
    /* Change the button background color on click */
    color: #fff;
    /* Change the button text color on click */
}

.button-container {
    display: flex;
    gap: 4px;
    /* Adjust the gap as needed */
}

.button-container button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
}

.button-container button:hover {
    background-color: #06060657;
    cursor: pointer;
}

.button-container button:focus {
    outline: none;
}

.button-container button:active {
    background-color: #ccc;
}

.home-page-body {
    background: #FFDEDE;

}

.sidebar-class {
    background-color: #A1CCD1
}

.loadmore-btn-class {
    font-size: 12px;
    padding: 10px 20px;
    transition: font-size 0.2s ease-in-out;
}

.loadmore-btn-class:hover {
    font-size: 14px;
}

.loadmore-btn-div {
    min-height: 90px;
}