.search-box {

    /* width: 300%; */
    width: 296px;
    height: 6vh;
    margin-top: 11px;
}

.search-button-class {
    height: 6vh;
    margin-top: 11px;
    text-align: center;
    margin-right: -11%;
}

/* Update the button styles */
.btn-primary.btn-rounded {
    height: 6vh;
    line-height: 6vh;
    padding: 0 12px;
    font-size: 14px;
}

/* If needed, adjust the font size and padding to match your design */